.home {
  display: flex;
  flex-direction: column;
  width: 1126px;
  height: 779px;
  margin: 55px 90px 86px 224px;
}

.welcomeMessage {
  max-width: 396px;
  max-height: 89px;
  margin: 0;
  padding: 0;
}
