.home {
  display: flex;
  flex-direction: column;
  width: calc(100vw * 1126 / 1440);
  height: calc(100vh * 779 / 1024);
  margin: calc(100vh * 55 / 1024) calc(100vw * 90 / 1440) calc(100vh * 86 / 1024)
    calc(100vw * 224 / 1440);
}

.welcomeMessage {
  max-width: calc(100vw * 396 / 1440);
  max-height: calc(100vh * 89 / 1024);
  margin: 0;
  padding: 0;
}
