.scoreCard {
  position: relative;
  width: calc(258 / 1440 * 100vw);
  height: calc(263 / 1024 * 100vh);
  border-radius: 5px;
  background-color: rgba(251, 251, 251, 1);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
}

.titleScoreCard {
  margin-left: calc(30 * 100vw / 1440);
  margin-top: calc(24 * 100vh / 1024);
  margin-bottom: calc(-24 * 100vh / 1024);
  font-size: calc(15 * 100vw / 1440);
}

.targetContainer {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
}

.targetPercent {
  font-size: calc(24 * 100vw / 1440);
  text-align: center;
}

.targetText {
  font-size: calc(14 * 100vw / 1440);
  text-align: center;
  margin-top: 5px;
}
